{% extends 'basic.html' %}

{% block title %} BlogPost {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt maxime blanditiis odit quod fugiat alias iure odio, porro nobis similique ratione modi architecto, soluta placeat ex consequuntur saepe ipsam quaerat totam neque omnis in quasi. Excepturi nihil, eum quasi eaque velit eos necessitatibus dolor sequi doloribus quidem, magnam enim vitae?</p>
{% endblock body %}
